<h3 class="text-center">Most popular programming language at GitHub by user</h3>
<p>Challenge  to build a simple web or command line application, which should allow users to enter an arbitrary GitHub username, and be 
presented with a best guess of the GitHub user's favourite programming language.</p>
<div class="centered-button">
  <%= link_to "Solution", search_path, class: "small button green" %>
</div>
<p>You can access solution code on <a href="https://github.com/gedzubo/MostPopularLanguageAtGitHub">GitHub</a></p>
