<h3 class='text-center'>Search by GitHub account name</h3>
<form action="/search" method="post">
  <div class="row">
    <div class="small-12 columns">
      <label>GitHub account name
        <input type="text" name='user' placeholder="Enter user's GitHub account name" required/>
      </label>
    </div>
    <div class='centered-button'>
    <input type='submit' value='Find' name='submit' class='button small'>
    </div>
  </div>
</form>
<% if @text %>
  <%= @text %><p>
<% end %>
