<div class="row">
  <div class="small-12">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1>
            <%= link_to "Home", root_path %>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li>
            <%= link_to "Search", search_path %>
          </li>
      </section>
    </nav>
  </div>
</div>